{% extends "base.html" %}

{% block title %}Dashboard del Párroco - Catequesis Quito{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col">
        <h1><i class="fas fa-tachometer-alt"></i> Dashboard del Párroco</h1>
    </div>
</div>

<!-- Sección Catequizandos -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Catequizandos</h6>
         <a href="{{ url_for('parish_priest.register_catechizing') }}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Registrar Nuevo Catequizando</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="catechizingsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Edad</th>
                        <th>Nivel Actual</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catechizing in catechizings %}
                    <tr>
                        <td>
                            {{ catechizing.Person.FirstName if catechizing.Person else 'N/A' }} 
                            {{ catechizing.Person.FirstSurname if catechizing.Person else '' }}
                        </td>
                        <td>
                            {% if catechizing.Person and catechizing.Person.BirthDate %}
                                {{ calculate_age(catechizing.Person.BirthDate) }} años
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td>
                            {{ catechizing.Class.Level.Name if catechizing.Class and catechizing.Class.Level else 'N/A' }}
                        </td>
                        <td>
                            <a href="{{ url_for('parish_priest.update_catechizing', id=catechizing.IDCatechizing) }}" class="btn btn-warning btn-sm" title="Editar">
                                <i class="fas fa-edit"></i>
                            </a>
                            <form action="{{ url_for('parish_priest.delete_catechizing', id=catechizing.IDCatechizing) }}" method="POST" style="display:inline;" onsubmit="return confirm('¿Está seguro de que desea eliminar a este catequizando?');">
                                <button type="submit" class="btn btn-danger btn-sm" title="Eliminar">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">No hay catequizandos registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Sección Clases de la Parroquia -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-chalkboard-teacher"></i> Clases del Período Actual</h6>
        <a href="{{ url_for('parish_priest.register_class') }}" class="btn btn-success btn-sm"><i class="fas fa-plus"></i> Añadir Clase</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="parishClassesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nivel</th>
                        <th>Horarios y Aulas</th>
                        <th>Catequista</th>
                        <th># Catequizandos</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p_class in parish_classes %} {# p_class para evitar conflicto con 'class' #}
                    <tr>
                        <td>
                            {{ p_class.Level.Name if p_class.Level else 'N/A' }}
                        </td>
                        <td>
                            {% if p_class.Schedule %}
                                {% for schedule_info in p_class.Schedule %}
                                    Aula: {{ schedule_info.Classroom.ClassroomName }}. {{ schedule_info.DayOfTheWeek.DayOfTheWeek }}: {{ schedule_info.StartHour }} - {{ schedule_info.EndHour }} <br>
                                {% endfor %}
                            {% else %}
                                Horario no definido
                            {% endif %}
                        </td>
                        <td>
                            {% if p_class.Catechist and p_class.Catechist.Person %}
                                {{ p_class.Catechist.Person.FirstName }} {{ p_class.Catechist.Person.FirstSurname }}
                            {% elif p_class.Catechist and p_class.Catechist.User %}
                                Usuario: {{ p_class.Catechist.User.Username }}
                            {% else %}
                                No asignado
                            {% endif %}
                        </td>
                        <td>
                            {{ p_class.Catechizing | length if p_class.Catechizing is not none else 0 }}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5" class="text-center">No hay clases registradas para el período actual.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Sección Personas de Soporte -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Personas de Soporte</h6>
        <a href="{{ url_for('parish_priest.register_support_person') }}" class="btn btn-success mt-3"><i class="fas fa-user-plus"></i> Registrar Nueva Persona de Soporte</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="supportPersonsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Niveles en los que Asiste</th> <!-- Nuevo encabezado -->
                    </tr>
                </thead>
                <tbody>
                    {% for support_person in support_persons %} {# Itera sobre la lista de personas de soporte #}
                    <tr>
                        <td>
                            {# Muestra el nombre completo del SupportPerson #}
                            {{ support_person.Person.FirstName if support_person.Person else 'N/A' }}
                            {{ support_person.Person.FirstSurname if support_person.Person else '' }}
                        </td>
                        <td>
                            {# Muestra los nombres de los niveles de las clases en las que asiste, permitiendo repeticiones #}
                            {% if support_person.Class %}
                                {% for cls in support_person.Class %}
                                    {% if cls.Level and cls.Level.Name %}
                                        {{ cls.Level.Name }}{% if not loop.last %}, {% endif %}
                                    {% endif %}
                                {% else %}
                                    Ninguno asignado
                                {% endfor %}
                            {% else %}
                                Ninguno asignado
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No hay personas de soporte registradas.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Sección Catequistas -->
<div class="card shadow mb-4">
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Catequistas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="catechistsTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nombre Completo</th>
                        <th>Niveles que Imparte</th>
                    </tr>
                </thead>
                <tbody>
                    {% for catechist in catechists %}
                    <tr>
                        <td>
                            {{ catechist.Person.FirstName if catechist.Person else 'N/A' }} 
                            {{ catechist.Person.FirstSurname if catechist.Person else '' }}
                        </td>
                        <td>
                            {% if catechist.Class %}
                                {{ catechist.Class | map(attribute='Level.Name') | reject('none') | join(', ') if catechist.Class else 'Ninguno asignado' }}
                            {% else %}
                                Ninguno asignado
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="3" class="text-center">No hay catequistas registrados.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock %}
